@using LabNro06_LINQ_XML_EspinozaCaso.Models;
@model IEnumerable<LabNro06_LINQ_XML_EspinozaCaso.Models.ClsProducto>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BuscarXDocuments</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"><b>Listar Productos con XDocument</b></h1>
                <br />
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        @using (Html.BeginForm("BuscarXDocument", "Productos", FormMethod.Post, new { @class = "form-inline" }))
                        {
                            <div class="form-group row">
                                <div class="col-md-9">
                                    @Html.TextBox("busqueda", null, new { @class = "form-control", @placeholder = "Buscar" })
                                    <span id="advertencia" class="text-danger"></span>
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-primary">Buscar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Categoria</th>
                            <th>Producto</th>
                            <th>Marca</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th>Condicion</th>
                            <th>Imagen</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(mi => p.codigo)</td>
                                <td>@Html.DisplayFor(mi => p.categoria)</td>
                                <td>@Html.DisplayFor(mi => p.nombre)</td>
                                <td>@Html.DisplayFor(mi => p.marca)</td>
                                <td>@Html.DisplayFor(mi => p.descripcion)</td>
                                <td>@Html.DisplayFor(mi => p.precio)</td>
                                <td>@Html.DisplayFor(mi => p.stock)</td>
                                <td>
                                    @if (p.stock <= 10)
                                    {
                                        <span class="badge badge-danger">C1</span>
                                    }
                                    else if (p.stock > 10)
                                    {
                                        <span class="badge badge-success">C2</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-warning">EL</span>
                                    }
                                </td>
                                <td>
                                    <img src="~/Uploads/@Html.DisplayFor(mi => p.imagen)" alt="texto_alternativo" width="80" height="80">
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>


